html, body {
	margin: 0;
	padding: 0;

	width: 100%;
	height: 100%;

	overflow: hidden;
	display: flex;
	flex-direction: row;

	font-family: sans-serif;
}

canvas {
	display: block;
	box-sizing: border-box;

	background-color: #CFC;

	position: absolute;

	width: 100%;
	height: 100%;
}

#canvas-container {
	flex: 1 1 auto;
	position: relative;
}

#right-side {
	width: 276px;
	flex: 0 0 auto;
	background-color: #EEE;

	display: flex;
	flex-direction: column;
}

#connection-info {
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	flex: 0 0 auto;
	margin: 10px 10px 0 10px;
}

#log-container {
	flex: 1 1 auto;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	overflow-y: scroll;
}

ul#log {
	list-style-type: none;
	padding:10px;
	margin: 0;
}

#qrcode-container {
	margin: 10px 0;
}

#peer-id-display {
	font-family: monospace;
	font-size: 16px;
}

li:nth-of-type(2n) {
	background-color: white;
}
